.wow {
  color: blue;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  margin: 0px 0px;
}

header h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding: 0px;
  text-align: center;
}

header a {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1;
  padding: 1px;
  color: rgb(0, 112, 243);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  margin: 0px;
  padding: 0;
}

@media all and (min-width: 300px) {
  main {
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media all and (min-width: 600px) {
  main {
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media all and (min-width: 1200px) {
  main {
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
      
  }
}